<h2>Welcome, {{first_name}}</h2>
<div class="dashboard-header">
   <div class="profile-pic"><img class="profpic-img" src="/images/cutecatlady.png" alt=""></div>
  <div>

    <h3>Bio: {{setting.bio}}</h3>
    <h4>Goals: {{setting.goals}}</h4>
  </div>
  <div class=" flex-row justify-center">
    <a href="/daily-log">
    <button class='btn btn-primary'>Daily Log Entry</button>
    </a>
    <a href="/account-settings">
    <button class='btn btn-link '>Account Settings</button>
    </a>
  </div>
</div>

<div id= "suggestion-content" class="suggestion-content">
</div>
<!--Temp variable capture
{{activity.name}}: - {{activity.userPercent}} %
-->

<div class="dasboard-content">
  {{#each user_activities as |activity|}}
  <div class="card dashboard-card">
    <p class="activity-name">{{activity.name}}</p>
      <div class="progress" data-percent="{{activity.userPercent}}">
        <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number">
            </div>
          </div>
        </div>
        <!-- this will be customized later! -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
              <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#c3446f" />
                    <stop offset="50%" stop-color="#95965e" />
                    <stop offset="100%" stop-color="#5e967b" />
                  </linearGradient>
              </defs>
              <circle class="anim-{{activity.userPercent}}" cx="80" cy="80" r="70" stroke-linecap="round" />
      </svg> 

      </div>
 
          <div ><img class="activity-img" src="/images/{{activity.badge_name}}.png" alt="{{activity.name}} badge image" style="opacity: {{activity.userPercent}}%;"></div>
      </div>
  </div>
  {{/each}}
</div>

<div id="quoteDiv" style='font-style: italic'></div>

<script src = "/js/dashboard.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
